.input{
    width: 100%;
    position: absolute;
    bottom: -25px;
    height: 130px;
    background-color: lightgrey;
    left: 0px;
    right: 0px;
    font-size: 35px;
}

.remote{
    font-size:35px;
    margin: 35px;
}

.local{
    font-size:35px;
    float:right;
    margin: 35px;
}